/FlowerGame/Assembly-CSharp-Editor.csproj
/FlowerGame/Assembly-CSharp-firstpass.csproj
/FlowerGame/Assembly-CSharp.csproj
/FlowerGame/FlowerGame.sln
/FlowerGame/FlowerGame.userprefs
/FlowerGame/.vs
/FlowerGame/.vs/FlowerGame/v14/.suo
/FlowerGame/Library
/FlowerGame/ProjectSettings/ProjectVersion.txt
/FlowerGame/Temp
/FlowerGame/Builds
